/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

\.idea/APIRESTProject\.iml

\.idea/commandlinetools/Composer_10_02_18_11_06_c\.xml

\.idea/commandlinetools/schemas/frameworkDescriptionVersion1\.1\.4\.xsd

\.idea/commandlinetools/Symfony_10_02_18_11_06_s\.xml

\.idea/inspectionProfiles/Project_Default\.xml

\.idea/modules\.xml

\.idea/php\.xml

\.idea/vcs\.xml

\.idea/workspace\.xml
